<html>

<head>
    <title>Mahindra</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" 
      type="image/png" 
      href="http://example.com/myicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div
              class="card text-center"
              style="margin-top: 30px; box-shadow: 5px 5px rgb(192, 192, 192); border: 1px solid black;"
            >
              <div class="card-header">
                <img
                  src="https://mahindra-oauth.herokuapp.com/mahindra_logo.png"
                  class="img-fluid"
                  style="width: 60%;"
                />
              </div>
              <div class="card-body">
                <p class="card-text" >
                    <form action="/auth/finish" method="post">
                        <input type="hidden" name="transaction_id" value="<%= transaction_id %>">
                        <input type="hidden" name="response_type" value="<%= response_type %>">
                
                        <input type="hidden" name="client_id" value="<%= application.oauth_id %>">
                        <input type="hidden" name="auth_url" value="<%= decodeURIComponent(currentURL) %>">
                        <input type="hidden" name="scope" value="<%= scope%>">
                        <input type="hidden" name="state" value="<%= state%>">
                        <input type="hidden" name="redirect_uri" value="<%= redirectURI%>">
                        
    
                        <div class="">
                            
                                <p><%= application.title %> requires permission to:</p><br\>
                                    <p>Access your Mahindra account details</p>
                            <div><br>                 
                                <div class="form-group" style="display: none;">
                                    <label for="username">Username: </label>
                                    <input type="text" id="username" name="username" value="<%= customerNo %>"/>
                                </div>
                                <div style="display: none;">
                                    <label for="password">Password: </label>
                                    <input type="password" id="password" name="password" value="<%= custEmail %>">
                                </div>
                                <div>
                                    <input class="btn btn-danger btn-block" type="submit" value="Authorize" style="background-color: red;">
                                </div>
                        </div>

                    </form>
                </p>
            </div>
            </div>
          </div>
        </div>
      </div>
    

    <% if (this.message) { %>
    <p><strong><%= message %></strong></p>
    <% } %>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>